body {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.frame {
  border: solid;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 350px;
  padding: 12px;
  border-radius: 10px;
}

.input-field {
  border: 2px solid gray;
  height: 60px;
  margin-bottom: 10px;
}

.numpad {
  border: 2px solid cadetblue;
  flex: auto;
  display: flex;
}
